/*Now the CSS*/
body {
	scroll-direction: horizontal;
	width: 10000px;
	background-color: #F4F4F4;
}

* {
	margin: 0;
	padding: 0;
}

.tree ul {
	padding-top: 20px;
	position: relative;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	scroll-direction: horizontal;
}

.tree li {
	float: left;
	text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	

	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	

}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before,
.tree li::after {
	content: '';
	position: absolute;
	top: 0;
	right: 50%;
	border-top: 1px solid #ccc;
	width: 50%;
	height: 20px;
}

.tree li::after {
	right: auto;
	left: 50%;
	border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after,
.tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child {
	padding-top: 0;
}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before,
.tree li:last-child::after {
	border: 0 none;
}

/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before {
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	border-left: 1px solid #ccc;
	width: 0;
	height: 20px;
}

.tree li a {
	/*border: 1px solid #ccc;*/
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;

	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;

	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	
    width: 70px;
    height: 80px;
	 background-image: url(../images/cliente.png);
	 background-size: cover;
      overflow: hidden;
      font-weight: bold;
      font-size: 14px;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover,
.tree li a:hover + ul li a {
	background: #c8e4f8;
	color: #000;
	border: 1px solid #94a0b4;
	 background-image: url(../images/cliente.png);
	 background-size: cover;
}

/*Connector styles on hover*/
.tree li a:hover + ul li::after,
.tree li a:hover + ul li::before,
.tree li a:hover + ul::before,
.tree li a:hover + ul ul::before {
	border-color: #94a0b4;
}

.row-items-number {
	padding-top: 50px;
	padding-bottom: 50px;
}

.d-item-number {
	background-color: #FFFFFF;
	width: 600px;
	border-radius: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}

.d-item-number .t1{
	font-size: 26px;
	font-weight: 600;
	margin-bottom: 0px;
	color: #49B7F3;
}

.d-item-number .t2{
	font-size: 16px;
	color: rgba(0,0,0,.5);
	margin-bottom: 0px;
}



.tooltip.show {
    opacity: 1;
}

.tooltip > .tooltip-inner {
    background-color: #FFFFFF;
	min-width: 500px;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 6px;
	border-radius: 10px;
	box-shadow: 5px 5px 30px rgba(0,0,0,.03);
}

.bs-tooltip-auto[x-placement^=right] .arrow::before, .bs-tooltip-right .arrow::before {
    right: 0;
    border-width: .4rem .4rem .4rem 0;
    border-right-color: #FFFFFF;
}

.bs-tooltip-auto[x-placement^=left] .arrow::before, .bs-tooltip-left .arrow::before {
    left: 0;
    border-width: .4rem 0 .4rem .4rem;
    border-left-color: #FFFFFF;
}

.p-tooltip{
	color: rgba(0,0,0,.7);
	font-size: 12px;
	margin-bottom: 4px;
}

.d-meses{
	display: flex;
	justify-content: center;
	color: #000000;
	margin-bottom: 15px;
}

.item-mes{
	text-align: center;
	margin-left: 8px;
	margin-right: 8px;
	font-size: 12px;
}

.item-mes > img{
	width: 18px;
}

